	body
	{ 
		background-color:#000015;
		color:white;
		font-family:Comic Sans MS, sans-serif;
	}
	#Container
	{ 
		width:1000px;
		margin-left:auto;
		margin-right:auto;
	}
	#Logo
	{
		text-align:center;
		padding:10px;
		width:1000px;
	}
	#Names
	{
		float:left;
		width:200px;
		text-align:center;
		min-height:1000px;
		font-size: 24px;
	}
	#Look
	{
		float:left;
		width:600px;
		text-align:center;
		min-height:1000px;
	}
	#OtherLibs
	{
		float:left;
		width:200px;
		text-align:center;
		min-height:1000px;
	}
	#Footer
	{
		width:100px;
		clear:both;
	}
	.obrazek
	{
		height:109px;
		margin-top:73px;
	}